.container {
  position: relative;
  width: 100%;
  background: #8d8d8d21;
  border-radius: 0.75rem;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 800;
}
.bottom-content {
  display: flex;
  font-size: 80%;
  grid-gap: 5px;
}
.bottom-content-role-name {
  font-weight: 500;
}
.bottom-content-content-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.7;
}
.name:first-letter {
  text-transform: uppercase;
}