.container {
  position: relative;
  display: block;
  height: 100%;
  background: #6c37612b;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.3s;
}
.button-new-chat {
  color: white;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
  padding-left: 0px;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 0.75rem;
  display: flex;
  width: 100%;
}
.button-new-chat p{
  white-space: nowrap;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.container::-webkit-scrollbar {
  width: 5px; /* Ширина области скролла */
  border-radius: 50%;
}

/* Стилизация ползунка скролла */
.container::-webkit-scrollbar-thumb {
  background-color: #150b1c; /* Цвет ползунка скролла */
  border-radius: 5px; /* Закругление углов ползунка */
}

/* Стилизация трека скролла (фоновая область) */
.container::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фоновой области скролла */
}