.container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  white-space: pre-line;
  font-size: 110%;
  font-family: Montserrat, sans-serif;
}
.allotted-style {
  display: inline-block;
  color: #9e65f0;
  /*background: grey;*/
  margin-left: 5px;
  margin-right: 5px;
  width: max-content;
  height: max-content;
  border-radius: 5px;
  font-weight: 700;
  font-size: 110%;
  font-family: Roboto, sans-serif;
}