body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  position: relative;
  width: 100vw;
  height: 100vh;
}
*{
  box-sizing: border-box;
  font-size: 100%;
}
p {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
}

textarea {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

::selection {
  background-color: #444547;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

/*.language-javascript::-webkit-scrollbar {*/
/*  width: 3px; !* Ширина области скролла *!*/
/*  border-radius: 50%;*/
/*}*/

/*!* Стилизация ползунка скролла *!*/
/*.language-javascript::-webkit-scrollbar-thumb {*/
/*  background-color: #150b1c; !* Цвет ползунка скролла *!*/
/*  border-radius: 5px; !* Закругление углов ползунка *!*/
/*}*/

/*!* Стилизация трека скролла (фоновая область) *!*/
/*.language-javascript::-webkit-scrollbar-track {*/
/*  background-color: transparent; !* Цвет фоновой области скролла *!*/
/*}*/