.container {
  width: 100%;
  overflow-y: scroll;
  color: white;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.wrapper-message {
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrapper-message-DAVID {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background: #80808021;
}
.wrapper-message-CLIENT {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}



.container::-webkit-scrollbar {
  width: 5px; /* Ширина области скролла */
  border-radius: 50%;
}

/* Стилизация ползунка скролла */
.container::-webkit-scrollbar-thumb {
  background-color: #150b1c; /* Цвет ползунка скролла */
  border-radius: 5px; /* Закругление углов ползунка */
}

/* Стилизация трека скролла (фоновая область) */
.container::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фоновой области скролла */
}