.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: 0.3s;
}
.button-close-menu-left {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  z-index: 10;
}
.button-close-menu-left-item {
  background: #ffffff2b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 0.75rem;
}
.slider-block {
  position: relative;
  height: max-content;
  display: flex;
  margin-top: 10px;
}
.slider-block p {
  writing-mode: vertical-rl; /* Это свойство задает вертикальное направление текста */
  text-orientation: upright;
  font-size: 50%;
  color: white;
  font-weight: 900;
  text-align: center;
}
.slider-block span {
  font-size: 80%;
  color: white;
}
.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
}