.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: 0.3s;
}
.button-close-menu-left {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  background: #ffffff2b;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 0.75rem;
  z-index: 10;
}